*{
    margin: 0;
}
.cont{
    display: flex;
    background-color: grey;
    margin-top: 300px;
}
.item1{
    width: 400px;
    height:400px;
    background-color: brown;
    position: relative;
    left: 100px;
    top: 100px;
}
.item2{
    width: 400px;
    height:400px;
    background-color:blue;}
    .item3{
    width: 400px;
    height:400px;
    background-color: green;}